.explore{
    display:flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    background-color:rgba(69, 66, 66,.6);
}
.explor h1{
    color:rgb(247, 148, 148);
    font:900;
    text-align: center;
    font-size: larger;
    margin-top:1rem;
    margin-bottom:1rem;
    font-family: serif;

}

.explore-text{
   font-size: medium;
   color:rgb(170, 173, 175);
   max-width:60%;
}
.menu-list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:30px;
    text-align: center;
    margin-left: 20px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:20px;
    overflow-x: scroll;
}
.menu-list::-webkit-scrollbar{
    display:none;
}

.menu-list-items img{
width:7.5vw;
min-width: 80px;
cursor:pointer;
border-radius:20%;
transition:0.3s;
}


.menu-list-items p{
margin-top:px;
color:whiite;
font-family:serif;
font-size:max(1vw,10px);
cursor:pointer
}

.active{
   border: 4px solid tomato;
   padding:2px;

}